@charset "UTF-8";
@import "./fonts/stylesheet.css";
:root {
  --primary: #3256A9;
  --white: #ffffff;
  --black: #000000;
  --main: #1A191F;
  --main-font: "Gilroy", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/*** 
====================================================================
Global Settings
====================================================================
   ***/
body {
  font-family: var(--main-font);
  font-size: 18px;
  color: var(--main);
  line-height: 140%;
  font-weight: 400;
  background: #e8eef3;
}

a {
  text-decoration: none;
  opacity: 1;
  color: var(--main);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
a:hover {
  opacity: 0.88;
}

ul li {
  list-style: none;
}

.auto__container {
  position: relative;
  max-width: 1760px;
  margin: 0 auto;
  padding: 0 40px;
}
.auto__container.ex {
  max-width: 1940px;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

h1 {
  font-weight: 500;
  font-size: 42px;
  line-height: 130%;
}

h2 {
  font-weight: 500;
  font-size: 38px;
  line-height: 130%;
}

h3 {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
}

h4 {
  font-weight: 400;
  font-size: 40px;
  line-height: 140%;
}

h5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
}

h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
}

p.sm {
  font-size: 16px;
  line-height: 140%;
}

.anchor {
  position: relative;
  top: -74px;
}

.main {
  overflow: hidden;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-family: var(--main-font);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding: 15px 30px;
  border-radius: 10px;
}
.button.primary {
  color: var(--white);
  background-color: var(--primary);
}
.button.primary:hover {
  opacity: 1;
  background-color: var(--main);
}
.button.secondary {
  color: var(--primary);
  background-color: var(--white);
}
.button.secondary:hover {
  opacity: 1;
  color: var(--main);
}
.button.uniq {
  border-radius: 100px;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  padding: 20px 30px;
  color: var(--main);
  background-color: var(--white);
}
.button.uniq:hover {
  opacity: 1;
  color: var(--white);
  background-color: var(--main);
}

@media (max-width: 1380px) {
  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 34px;
  }

  h4 {
    font-size: 35px;
  }

  p.sm {
    font-size: 14px;
  }

  .button.uniq {
    font-size: 18px;
    padding: 15px 30px;
  }
}
@media (max-width: 1180px) {
  .auto__container {
    padding: 0 30px;
  }

  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 30px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  body {
    font-size: 16px;
    line-height: 140%;
  }

  .button {
    font-size: 16px;
    line-height: 20px;
    padding: 12px 24px;
  }
  .button.uniq {
    font-size: 16px;
    line-height: 130%;
    padding: 12px 24px;
  }
}
@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
@media (max-width: 750px) {
  .auto__container {
    padding: 0 20px;
  }

  h1 {
    font-size: 30px;
  }

  h3 {
    font-size: 28px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }
}
@media (max-width: 540px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 25px;
  }

  body {
    font-size: 14px;
    line-height: 140%;
  }
}